.footer-p{
  color: rgba(111,125,182,1);
  margin-top: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
}
.footer-h{
  color: white;
  margin-top: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 1em;
  font-weight: 500;
  margin-top: 50px;
}
footer{
  margin-bottom: 0px;
}
.footerp{
  color: rgba(111,125,182,1);
  font-family: 'DM Sans', sans-serif;
  margin-top: 20px;
}
.copyright{
  color: white;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 581px)  {
  .footer-div{
    text-align: center;
  }
}