.procent-card{
    background-color: rgba(36,38,107,1) !important;
    border-radius: 20px;
    margin-top: 190px;
    padding: 40px 40px;
}

.procent-title{
    text-align: left;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 500;

}
.white-procent{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
    color: rgba(111,125,182,1);
}
.pink-procent{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    color: rgba(248,107,195,1);
}
.progres-bar{
    border-radius: 50%;
    border-color: #6c5c5c;
    width: 270px;
    height: 270px;
    border: 60px solid;
    position: relative;
}
.clip{
    position: absolute;
    width: 270px;
    height: 270px;
    border: 60px solid;
    clip-path: inset(0 0 0 50%);
    border-color: rgba(248,107,195,1);
    border-radius: 50%;
    right: -61px;
    top: -60px;
}
.inner-progres-bar{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    color: white;
}
@media screen and (max-width: 1199px) {
    .clip{
        right: -63px;
        top: -59px;
    }
}
@media screen and (max-width: 991px){
   .progres-bar{
       display: none;
   }
}